.prix-slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

#prix-slider {
    -webkit-appearance: none;
    width: 200px;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

#prix-slider:hover {
    background: #bbb;
}

#prix-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #505da2;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

#prix-slider::-webkit-slider-thumb:hover {
    background: #404894;
}

#prix-affiche {
    font-weight: bold;
    font-size: 16px;
    color: #505da2;
}
