@import "normalize.css";

@font-face {
    font-family: 'Old Japanese'; /* Nouvelle police */
    src: url('font/Old Japanese.otf'); /* Chemin vers la nouvelle police */
}

:root {
    --theme-blanc-transparent: rgba(255, 255, 255, 0.3);
    --theme-blanc: rgb(255, 255, 255);
    --theme-bordure-rondeur: 0.5rem;
}

html {
    font-family: 'Old Japanese', sans-serif; /* Utilise Old Japanese par défaut */
    font-size: 48px; /* Taille de police de base */
}

body {
    margin: 0; /* Enlève les marges par défaut */
    background-image: url('illustration/temple.jpg'); /* Image de fond */
    background-repeat: no-repeat; /* Pas de répétition de l'image */
    background-size: cover; /* Couvre toute la page */
    display: flex; /* Utilise flex pour aligner les éléments */
    color: #000; /* Couleur du texte noire */
    min-height: 100vh; /* Hauteur minimale pour le corps */
}

/* Classe page pour centrer son contenu */
.page {
    position: relative; /* Position relative */
    background-color: var(--theme-blanc-transparent); /* Couleur de fond de la page */
    padding: 5%; /* Espacement */
    box-sizing: border-box; /* Inclut le padding dans la taille */
    color: #000; /* Couleur du texte noire */
    display: flex; /* Utilise flex pour centrer la liste */
    flex-direction: column; /* Dispose les enfants en colonne */
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
    min-height: 100vh; /* Hauteur minimale */
}

/* Liste de manga*/
#liste-cadeau {
    list-style-type: none; /* Supprime les puces de la liste */
    padding: 20px; /* Ajout d'un padding pour le contenu de la liste */
    flex: 1; /* Permet à la liste de prendre plus d'espace */
    background-color: rgba(255, 255, 255, 0.9); /* Fond blanc opaque pour la liste */
    border-radius: var(--theme-bordure-rondeur); /* Coins arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Ombre portée */
}

/* Éléments de la liste */
.liste-cadeau-item {
    color: #000; /* Couleur du texte en noir */
    text-transform: capitalize; /* Met en majuscule la première lettre */
    text-decoration: none; /* Supprime le soulignement des liens */
}

fieldset {
    color: #000; /* Couleur du texte dans fieldset */
    border: 2px solid #000; /* Bordure noire pour fieldset */
    border-radius: var(--theme-bordure-rondeur); /* Coins arrondis */
    margin-bottom: 1rem; /* Ajoute une marge en bas pour espacer les fieldsets */
}

input[type="text"],
textarea {
    display: block; /* Affichage en bloc */
    width: 100%; /* Largeur complète */
    border: 2px solid #ccc; /* Bordure légère pour le contraste */
    background-color: var(--theme-blanc); /* Couleur de fond */
    border-radius: var(--theme-bordure-rondeur); /* Coins arrondis */
    padding: 1.5rem; /* Espacement intérieur agrandi */
    font-size: 1.2rem; /* Taille de police augmentée */
    margin-bottom: 1rem; /* Ajoute une marge en bas de chaque champ */
}

.page h1 {
    text-align: center; /* Centre le titre */
    font-size: 2rem; /* Taille du titre */
    color: #000; /* Couleur du titre en noir */
    text-shadow: 2px 2px var(--theme-blanc); /* Ombre portée */
}

.page h2,
.page p {
    background-color: var(--theme-blanc-transparent); /* Couleur de fond */
    border: none; /* Supprime les bordures */
    border-radius: var(--theme-bordure-rondeur); /* Coins arrondis */
    padding: 0.25rem; /* Espacement intérieur */
}

.action {
    display: block; /* Affichage en bloc */
    text-decoration: none; /* Supprime le soulignement */
    background-color: #000; /* Couleur de fond noire */
    color: var(--theme-blanc); /* Couleur du texte */
    border: none; /* Supprime les bordures */
    border-radius: var(--theme-bordure-rondeur); /* Coins arrondis */
    padding: 0.5rem; /* Espacement intérieur */
    font-size: 1rem; /* Taille de police */
    text-align: center; /* Centre le texte */
    width: 50%; /* Largeur */
    margin: 0.25rem auto; /* Marges automatiques */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Ombre portée */
    transition: background-color 0.3s; /* Transition pour le survol */
}

.action:hover {
    background-color: #333; /* Couleur légèrement plus claire au survol */
}

.action:active {
    border: none; /* Supprime les bordures lors de l'activation */
}
